.text-center {
    text-align: center;
}

.account-summary {
  background: rgb(63, 81, 181);
  padding: 64px;
}

.account-item {
  padding: 16px 0;
}

.account-item h1, h2, h3, h4, h5, h6, p {
  color: white;
}

.account-item h2 {
  margin-top: 0;
  font-size: 26px;
}

.account-item h3 {
  margin-bottom: 2px;
}

.account-item p {
  margin: 0;
}

.md-button._md-nav-button {
  padding: 12px 36px;
  font-size: 18px;
  font-weight: bold;
}
