<!DOCTYPE html>
<html lang="en" ng-app="tokenPanelApp">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- ngCloak -->
    <link rel="stylesheet" type="text/css" href="./css/angular-csp.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body ng-controller="mainCtrl as admin">
<div class="col-lg-4 alert-message">
    <div ng-show="admin.amountReceived!=0" class="alert alert-info">
        Address <strong>{{admin.typedAddress}}</strong> received <strong>{{admin.amountReceived}}</strong>
    </div>
</div>
<div ng-cloak class="container theme-showcase" role="main">
    <div class="jumbotron text-center">
        <h1>PNG Digital Cash</h1>
    </div>

    <ul class="nav nav-tabs nav-justified custom-navtab">
        <li class="active"><a data-toggle="tab" href="#checkBalance">Check balance</a></li>
        <li><a data-toggle="tab" href="#send">Send</a></li>
    </ul>

    <div class="tab-content">
        <div id="checkBalance" class="tab-pane fade in active">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="col-lg-12">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-default" ng-click="admin.pasteClientAddress()" type="button">Use client's address</button>
                            </span>
                            <input type="text" class="form-control" ng-model="admin.typedAddress"
                                   placeholder="Type address">
                            <span class="input-group-btn">
                                <button class="btn btn-default" ng-click="admin.checkBalance()"
                                        ng-disabled="!admin.typedAddress" type="button">Search</button>
                             </span>
                        </div>
                        <h3 ng-show="admin.checkedBalance">Balance: {{admin.checkedBalance}}</h3>
                    </div>
                </div>
            </div>
        </div>
        <div id="send" class="tab-pane fade">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <label for="recipient">Recipient</label>
                            <input type="text" class="form-control" ng-model="admin.receipent" id="recipient"
                                   placeholder="Type address">
                        </div>
                        <div class="form-group">
                            <label for="amount">Amount</label>
                            <input type="text" class="form-control" ng-model="admin.amount" id="amount"
                                   placeholder="Insert amount">
                        </div>
                        <button type="submit" ng-click="admin.transfer()" class="btn btn-primary">Send</button>
                        <h3 ng-show="admin.isSuccessfullySent">Transaction submitted</h3>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- jQuery first, then Tether, then Bootstrap JS, then AngularJS -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- Custom scripts -->
<script src="./js/token.js"></script>
</body>

</html>