<!DOCTYPE html>
<html lang="en" ng-app="App">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">
	<link rel="stylesheet" href="css/styles.css">
	<!-- ngCloak -->
	<link rel="stylesheet" type="text/css" href="./css/angular-csp.css">

</head>

<body ng-controller="ClientController as client">
	<div ng-cloak class="container theme-showcase col-xs-12 col-md-8" role="main">
		<h1>Blockchain Forms Office</h1>
		<p>Online Forms Submission Tool</p>
		<div class="jumbotron text-center">
			<h1>Client Panel</h1>
		</div>
		<div class="col-md-13">
			<ui-select ng-model="client.formName.selected" theme="selectize" style="width: 300px;" title="Choose a form" on-select="client.onSelectCallback(client.formName.selected)">
				<ui-select-match placeholder="Select or search a country in the list...">{{$select.selected.name}}</ui-select-match>
				<ui-select-choices repeat="formName in client.formNames | filter: $select.search">
					<span ng-bind-html="formName.name"></span>
				</ui-select-choices>
			</ui-select>

			<form novalidate>
				<h3 class="title">{{client.title}}</h3>
				<div class="form-group" ng-repeat="choice in client.choices.fields">
					<label>{{choice.name}}</label>
					<input class="form-control" type="{{choice.type}}" name="choice.name" placeholder="fill the field">
				</div>
				<div class="text-right">
					<button type="button" class="btn btn-outline-success">Save</button>
				</div>
			</form>


		</div>
	</div>
	<!-- jQuery first, then Tether, then Bootstrap JS. -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-sanitize.min.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.20.0/select.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js" crossorigin="anonymous"></script>

	<script src="js/client.js"></script>

</body>

</html>